
    .list {
        padding: 30px;
        padding-bottom: 118px;
        .tip {
            width: 690px;
            min-height: 56px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 40px;
            border-radius: 8px;
            color: #ED7603;
            background: #FFEAB1;
            font-size: 32px;
            line-height: 1.5;
        }
        .card-item {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            font-weight: 500;
            .label {
                font-size: 32px;
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
            }
            .placeholder {
                font-size: 32px;
                font-family: PingFangSC-Medium, PingFang SC;
                // font-weight: 500;
                color: #999999;
            }
            .selector {
                font-size: 32px;
                font-family: PingFangSC-Medium, PingFang SC;
                // font-weight: 500;
                color: #000000;
            }
            .input {
                text-align: right;
            }
            .hint {
                font-size: 24px;
                font-family: PingFangSC-Medium, PingFang SC;
                // font-weight: 500;
                color: #999999;
            }
        }
        .card-photo {
            margin-bottom: 20px;
            color: #C7C8C8;
            .headline {
                width: 160px;
                margin-bottom: 24px;
                font-size: 32px;
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
                color: #000000;
                line-height: 45px;
            }
            .at-image-picker__flex-box {
                padding-left: 0;
                .at-image-picker__flex-item  {
                    &:first-child {
                        margin-left: 0;
                        
                    }
                }
            }
            .photo-list {
                .photo-item {
                    width: 194px;
                    height: 194px;
                    background: #FFFFFF;
                    border-radius: 8px;
                    border: 2px dashed #C7C8C8;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .inner {
                        .counter-text {
                            margin-top: 9px;
                            font-size: 26px;
                            font-family: PingFangSC-Medium, PingFang SC;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }

.required {
    position: relative;
    &::after {
        position: absolute;
        content: '*';
        top: 5px;
        right: -30px;
        color: #FF6D6D;
    }
}