.photo-list {
    .photo-item {
        width: 194px;
        height: 194px;
        background: #FFFFFF;
        border-radius: 8px;
        border: 2px dashed #C7C8C8;
        display: flex;
        justify-content: center;
        align-items: center;
        .inner {
            .counter-text {
                margin-top: 9px;
                font-size: 26px;
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
            }
        }
    }
}
